body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

h1 {
  margin-top: 50px;
  font-size: 36px;
  font-weight: bold;
  color: #007bff;
  text-shadow: 2px 2px 5px #ddd;
}

.input-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: #333;
  background-color: #fff;
  box-shadow: 2px 2px 5px #ddd;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #333;
  box-shadow: 2px 2px 5px #ddd;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

#qr-code-container {
  margin-top: 50px;
}


